{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <h3>{{title}}</h3>
    <br>
    <form action="{% url 'save_page'%}" method="post">
        {% csrf_token%}
        <input hidden name="title" value="{{title}}">
                  <div class="form-group">
      <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="15" cols="20">{{content | safe}}</textarea>
     </div>
        <button type="submit" class="btn btn-primary mb-2">Save page</button>
    </form>
{% endblock %}